*{
	box-sizing: border-box;
}

html, body{
	padding: 0px;
	margin: 0px;
}

header{
	padding: 15px;
	width: 100%;
	height: 135px;
	background-color: #eee;
}

.headercontent{
	width: 960px;
	margin: 0 auto;
	height: 135px;
}

logo{
	float: left;
	margin-bottom: 30px;
}

logo h1{
	font-size: 30px;
}

logo span{
	font-size: 32px;
	background-color: #434343;
	color: #eee;
	width: 180px;
}

header img{

}

nav{
	margin-top: 20px;
}

nav li{
	display: inline-block;
}

.account{
	float: right;
}

.bigimage{
	height: 435px;
	width: 100%;
	background-color: #268ac0;
}

.bigimagecontent{
	height: 435px;
	width: 960px;
	margin: 0 auto;
}

.thisishard{
	color: #fff;
	padding-top: 50px;
	height: 435px;
	width: 480px;
	float: left;
}

.thisishard h1{
	font-family: Open Sans Condensed;
	font-size: 46.6px;
	font-weight: 100;
}

.thisishard h2{
	font-family: Open Sans;
	font-size: 18px;
	font-weight: 400;
	margin-top: 50px;
	width: 400px;
	margin-bottom: 25px;
}

.thisishard h3{
	font-family: Open Sans;
	font-size: 12px;
	font-weight: 700;
}
.thisishard h4{
	font-family: Open Sans;
	font-size: 12px;
	font-weight: 300;
}

.thebigimage{
	height: 435px;
	width: 480px;
	float: right;
	padding-top: 50px;
}

.thebigimage img{
	float: right;
}