*{
	box-sizing: border-box;
}

html, body{
	padding: 0px;
	margin: 0px;
	background-color: #e3e3e2;
}


/*HEADER/NAVIGATION*/


.smallbar{
	background-color: #4b4d4a;
	width: 100%;
	height: 5px;
}

header{
	padding: 15px;
	width: 100%;
	height: 135px;
	background-color: #eee;
}

.headercontent{
	width: 960px;
	margin: 0 auto;
	height: 135px;
}

logo{
	margin-bottom: 30px;
}

logo h1{
	font-family: arial;
	font-size: 30px;
}

logo span{
	font-size: 32px;
	color: #eee;
	width: 180px;
	border-radius: 5px;
	background-image: url(../images/logobackground.png);
}

header img{
	margin: 0;
	float: right;
	position: relative;
	margin-top: -22px;
}

header a{
	text-decoration: none;
	color: #848484;
}

nav{
	margin-top: 20px;
	width: 650px;
}

nav li{
	margin-right: 21px;
	display: inline-block;
}

nav a:hover{
	display: block;
	background-image: url(../images/navhover_03.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.account{
	margin-top: -12px;
	position: relative;
	float: right;
}

.account li{
	display: inline-block;
}

.account3{
	width: 85px;
	height: 27px;
	background-image: url(../images/accountbutton.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.headerbottom{

}


/*HOMEPAGE CONTENT*/


.bigimage{
	height: 427px;
	width: 100%;
	background-color: #268ac0;
	background-image: url(../images/bigimagegradient.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.bigimagecontent{
	height: 435px;
	width: 960px;
	margin: 0 auto;
}

.thisishard{
	color: #fff;
	padding-top: 50px;
	height: 435px;
	width: 480px;
	float: left;
}

.thisishard h1{
	font-family: Open Sans Condensed;
	font-size: 46.6px;
	font-weight: 100;
}

.thisishard h2{
	font-family: Open Sans;
	font-size: 18px;
	font-weight: 400;
	margin-top: 50px;
	width: 400px;
	margin-bottom: 30px;
}

.thisishard h3{
	font-family: Open Sans;
	font-size: 12px;
	font-weight: 700;
}
.thisishard h4{
	font-family: Open Sans;
	font-size: 12px;
	font-weight: 300;
}

.thebigimage{
	height: 435px;
	width: 480px;
	float: right;
	padding-top: 50px;
}

.thebigimage img{
	float: right;
}

.buttons{
	margin-top: 32px;
}

.buttons a{
	text-decoration: none;
	color: #fff;
}

.buttons li{
	font-size: 18px;
	display: inline-block;
}

.button1{
	width: 170px;
	height: 42px;
	background-image:url(../images/button_1.png);
	background-repeat: no-repeat;
	padding-top: 13px;
	padding-left: 27px;
	margin-right: 20px;
	color: #595757;
}

.button2{
	width: 170px;
	height: 42px;
	background-image: url(../images/button_2.png);
	background-repeat: no-repeat;
	padding-top: 13px;
	padding-left: 9px;
}

.headertop{
	height: 50px;
	width: 100%;
}

.headerbottom{
	height: 50px;
	width: 100%;
}

.tabhead{
	width: 960px;
	height: 70px;
	padding: 0px;
	margin: 0 auto;
	margin-top: 50px;
}

.tabhead img{
	padding: 0;
	margin: -3px;
}

.tabcontent{
	width: 960px;
	margin: 0 auto;
	margin-top: 50px;
}

.tabimage{
	float: left;
}

.tabimage h3{
	font-size: 11px;
	font-family: arial;
	color: #4b4d4a;
	font-weight: 200;
}

.tabimage span{
	color: #227ab0;
}

.tabdescription{
	width: 500px;
	float: right;
}

.tabdescription h1{
	font-family: arial;
	color: #227ab0;
	font-size: 32px; 
}

.tabdescription h2{
	color: #4b4d4a;
	font-size: 16px;
	font-family: arial;
	width: 330px;
	font-weight: 200;
	margin-top: 25px;
	margin-bottom: 25px;
}

.tabdescription li{
	font-family: arial;
	list-style-image: url(../images/bullet.png);
	margin-left: 20px;
}

.list1{
	float: left;
}

.list2{
	margin-left: 25px;
	float: left;
}

.tabdescription h3{
	font-family: arial;
	float: left;
	margin-top: 25px;
	font-size: 12px;
	color: #4b4d4a;
}

.testi{
	background-color: #e3e3e2;
	width: 960px;
	margin-top: 25px;
	float: left;
	padding: 15px;
	margin-bottom: 50px;
}

.testicontent{
	margin: 0 auto;
	background-color: #f8f7f7;
	width: 930px;
	height: 170px;
	padding: 15px;
}

.testicontent h3{
	font-size: 14px;
	color: #d05606;
	font-weight: 200;
	font-family: arial;
	margin-bottom: 25px;
}

.testicontent h4{
	font-size: 26px;
	color: #666666;
	font-family: Times New Roman;
	font-style: italic;
	font-weight: 200;
	width: 870px;
	margin: 0 auto;
	margin-bottom: 25px;
}

.testicontent h5{
	font-size: 12px;
	color: #6c6c6c;
	background-color: #f2f2f2;
	padding-top: 7px;
	height: 25px;
	width: 150px;
	padding-left: 10px;
	float: left;
}

.testicontent img{
	float: right;
}

/*ABOUT CONTENT*/

.aboutwrapper{
	margin: 0 auto;
	width: 960px;
	background-color: #fff;
 	content: "";
 	display: table;
 	clear: both;
 	margin-top: 50px;
 	padding: 15px;
}

.aboutsidebar{
	float: left;
	width: 210px;
	background-color: #f0f0f0;
}

.aboutsidebar h1{
	font-size: 22px;
	color: #838382;
	font-family: Open sans Condensed;
	margin-top: 10px;
	width: 80px;
	margin-left: auto;
	margin-right: auto;
}

.nonwhitebar{
	margin-bottom: 25px;
}

.aboutsidebar h2{
	width: 170px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	color: #db8146;
	text-shadow: 2px 2px #b9b9b9;
	margin-top: 15px;
}

.aboutnav{
	font-size: 14px;
	font-family: arial;
	font-weight: 200;
	color: #515450;
	margin-left: 30px;
	margin-bottom: 25px;
}

.overview{
}

.aboutsidebar ul{
	margin-top: 15px;
	margin-bottom: 50px;
}

.aboutnav li{
	margin-top: 32px;
	margin-bottom: 20px;
}

.aboutlist1{
	font-size: 12px;
	color: #4b4d4a;
	font-family: arial;
	font-weight: 200;
	margin-top: 50px;
	margin-left: 30px;
	margin-bottom: 25px;
}

.aboutlist2{
	font-size: 12px;
	color: #4b4d4a;
	font-family: arial;
	font-weight: 200;
	margin-left: 30px;
	margin-bottom: 10px;
}

.aboutlist1 li{
	margin-bottom: 5px;
}

.aboutlist2 li{
	margin-bottom: 5px;
}

.whitebar{
	margin-top: 25px;
	background-color: #fff;
	height: 200px;
}

.aboutcontent{
	font-family: arial;
	float: right;
	width: 660px;
}

.aboutcontent h1{
	margin-top: 10px;
	font-size: 28px;
	color: #4b4d4a;
	font-weight: bold;
}

.aboutcontent h2{
	margin-top: 6px;
	font-size: 22px;
	color: #7d807c;
	font-weight: 200;
}

.aboutcontent h3{
	margin-top: 25px;
	color: #d56b26;
	font-size: 18px;
	font-weight: bold;
}

.aboutcontent p{
	width: 600px;
	margin-top: 20px;
	font-size: 12px;
	color: #4b4d4a;
}

/*PRICING CONTENT*/

.pricingcontent{
	width: 960px;
	background-color: #fff;
	margin: 0 auto;
	margin-top: 40px;
	padding: 25px;
 	content: "";
 	display: table;
 	clear: both;
}

.pricingcontent h1{
	font-size: 28px;
	color: #4b4d4a;
	font-family: arial;
	font-weight: bold;
}

.pricingcontent h2{
	font-size: 22px;
	color: #7d807c;
	font-family: arial;
	font-weight: 400;
	margin-top: 15px;
}

.pricingcontent h3{
	color: #525551;
	font-size: 12px;
	font-family: arial;
	margin-top: 15px;
	width: 570px;
	font-weight: 200;
}

.creditcards{
	float: right;
	font-size: 14px;
	font-family: arial;
	color: #9f9f9f;
	margin-top: -60px;
}

.creditcards h4{
	margin-bottom: 15px;
}

.pricingtable{
	padding-left: 25px;
	margin-top: 50px;
	background-color: #f3f3f3;
	border: solid;
	border-color: #e1e1e1;
	border-width: 3px;
 	content: "";
 	display: table;
 	clear: both;
 	font-family: arial;
 	padding-top: 25px;
}

.pricingtable h2{
	font-size: 12px;
	color: #5c6458;
	font-family: arial;
	font-weight: 200;
	margin-top: 5px;
	padding-left: 6px;
}

.pricingtable span{
	color: #d15806;
	font-size: 22px;
	font-weight: bold;
}

.pricingtable h3{
	color: #b1b1b1;
	font-size: 11px;
	padding-left: 6px;
}

.pricingtable h4{
	color: #5c6458;
	height: 37px;
	width: 107px;
	font-size: 12px;
	background-image: url(../images/buynowbutton.png);
	margin-left: 6px;
	margin-top: 20px;
	font-weight: bold;
	padding-top: 15px;
	padding-left: 25px;
}

.pricingtable ul{
	margin-top: 35px;
	margin-bottom: 35px;
}

.pricingtable li{
	margin-top: 6px;
}

.pass{
	margin-left: 20px;
	list-style-image: url(../images/checkmark.png);
}

.fail{
	list-style-image: url(../images/xmark.png);
	margin-left: 20px;
}

.pro{
	width: 215px;
	float: left;
	margin: 0;
}

.pro h1{
	padding-left: 5px;
	padding-top: 10px;
}

.basic{
	float: left;
	width: 215px;
	margin: 0;
}

.basic h1{
	background-image: url(../images/pricinghover.png);
	background-repeat: no-repeat;
	background-position: -5px center;
	color: #fff;
	height: 45px;
	width: 189px;
	padding-left: 5px;
	padding-top: 10px;
	overflow: visible;
}

.basic h3{
	margin-top: 24px;
}

.basic h4{
	margin-top: 21px;
}

.adv{
	float: left;
	margin: 0;
	width: 215px;
}

.adv h1{
	padding-left: 5px;
	padding-top: 10px;
}


.nitro{
	float: left;
	width: 215px;
	margin: 0;
}

.nitro h1{
	padding-left: 5px;
	padding-top: 10px;
}

.pricingcontent2 h1{
	color: #949494;
	font-size: 12px;
	font-style: italic;
	width: 680px;
	margin-top: 25px;
}

.pricingcontent2 h2{
	margin-top: 40px;
	font-size: 14px;
	color: #4b4d4a;
	font-weight: bold;
}

.pricingcontent2 span{
	color: #d05606;
}

.pricingcontent2 p{
	width: 600px;
	font-size: 12px;
	font-weight: 200;
	color: #525551;
	margin-top: 20px;
}

.para{
	margin-bottom: 50px;
}

/*FOOTER*/


.footerbar{
	margin-top: 570px;
	background-color: #dcdcda;
	height: 8px;
	width: 100%;
	border-top: solid;
	border-top-color: #a5a5a5;
	border-top-width: 2px;
	border-bottom: solid;
	border-bottom-width: 2px;
	border-bottom-color: #3e3f3e;
}

.footer{
	width: 100%;
	height: 320px;
	background-color: #585a57;
}

.footercontent{
	height: 360px;
	width: 960px;
	margin: 0 auto;
}

.footercontent h1{
	margin-top: 15px;
	color: #ffffff;
	font-size: 16px;
	font-family: Open sans Condensed;
	font-weight: 200;
}

.blog{
	width: 222px;
	float: left;
}

.blog li{
	color: #f0f0f0;
	font-size: 11px;
	font-weight: 200;
	margin-top: 9px;
}

.blogheader{
	list-style-image: url(../images/footerlh.png);
	font-family: arial;
	font-size: 13px;
	color: #f0f0f0;
	margin-left: 45px;
	padding-left: 5px;
	font-weight: 300;
}

.comments{
	margin-left: 24px;
	width: 222px;
	float: left;
}

.comments li{
	color: #f0f0f0;
	font-size: 11px;
	font-weight: 200;
	margin-top: 9px;
}

.commentheader{
	list-style-image: url(../images/footerlh2.png);
	font-family: arial;
	font-size: 13px;
	color: #f0f0f0;
	margin-left: 28px;
	padding-left: 5px;
	font-weight: 300;
}

.comments span{
	font-weight: 500;
}

.advert{
	margin-left: 24px;
	width: 222px;
	float: left;
}

.twitter{
	margin-left: 24px;
	width: 222px;
	height: 300px;
	float: right;
	background-image: url(../images/twitterbackground.png);
	background-repeat: no-repeat;
	background-position: 0px 50px;
}

.twitter h2{
	color: #d05706;
	font-size: 14px;
	font-family: Times New Roman;
	margin-top: 30px;
	margin-left: 30px;
}

.twitter h3{
	margin-left: 30px;
	color: #484848;
	font-size: 14px;
	font-family: Times New Roman;
	font-style: italic;
	margin-top: 5px;
}

.twitter span{
	color: #d05706;
}

.twitter h4{
	margin-left: 30px;
	color: #484848;
	font-size: 12px;
	font-family: Times New Roman;
	font-style: italic;
	margin-top: 15px;
}

.twitter h5{
	font-size: 11px;
	font-family: arial;
	font-style: italic;
	color: #ededed;
	margin-top: 60px;
	text-decoration: underline;
}

.bottombar{
	height: 45px;
	width: 100%;
	background-color: #dcdcda;
}

.bottombarcontent{
	height: 45px;
	width: 960px;
	margin: 0 auto;
	padding-top: 14px;
}

.bottombar h1{
	color: #848484;
	font-size: 18px;
	font-family: arial;
	font-weight: 200;
	float: left;
}

.bottombar h2{
	color: #848484;
	font-size: 11px;
	font-family: arial;
	font-weight: 200;
	float: left;
	padding-top: 5px;
	margin-left: 8px;
}

.bottombar ul{
	float: right;
}

.bottombar li{
	margin-right: 15px;
	display: inline-block;
	font-size: 11px;
	font-family: arial;
	color: #505457;
}

.bottombar a{
	margin-right: 15px;
	display: inline-block;
	font-size: 11px;
	font-family: arial;
	color: #505457;
	font-style: none;
	text-decoration: none;
}

.bottombar a:hover{
	color: #d25906;
}